{% extends 'main.html' %}
{% load static %}
{% load socialaccount %}

{% block head_title %}
  
  {% if profile.organization_name %}
    {{profile.organization_name}}
  {% else %}
    {{profile.name}}
  {% endif %}

{% endblock head_title %}

{% block content %}

<!-- Main Section -->
  <main class="settingsPage profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <a class="tag tag--pill tag--main settings__btn" href="{% url 'edit-account' %}">
                <img src="{% static 'images/icons/icons8-edit.svg' %}" alt="edit" />
                &nbsp;Edit
              </a>
              <img class="avatar avatar--xl dev__avatar" src="{{profile.imageURL}}" />
              {% if profile.organization_name %}
                <h2 class="dev__organization">{{profile.organization_name}}</h2>
              {% endif %}
              <h2 class="dev__name">{{profile.name}}</h2>
              <p class="dev__title">{{profile.short_into}}</p>
              <p class="dev__location">Based in {{profile.location}}</p>

            </div>
          </div>
          
          {% if not request.user.socialaccount_set %}
            <div class="settings__soc__connect">
              <p>
                  <a href="{% provider_login_url 'github' process='connect' %}">
                    <img class="github_mark_image" alt="github" />
                  &nbsp;Connect a github account</a>
              </p>
            </div>
          {% endif %}
          
          <div class="dev__social">
            
            <table class="settings__table">
              <tr>
                
                {% for site in social %}
                
                  <td class="settings__tableInfo settings__soc__sites">
                    <a title="{{site.name | title}}" href="{{site.url}}" target="_blank">
                      <i class="{{site.css}} icon"></i>
                    </a>
                    <div class="sites">
                      <a class="tag tag--pill tag--main settings__btn" href="{% url 'update-site' pk=site.id %}">
                        <img src="{% static 'images/icons/icons8-edit.svg' %}" alt="edit" />
                      </a>
                      <a id="tag" class="tag tag--pill tag--main settings__btn" href="{% url 'delete-site' pk=site.id %}?next=/account">
                        <img src="{% static 'images/icons/icons8-cancel.svg' %}" alt="delete" />
                      </a>
                    </div>
                  </td>
                  
                {% endfor %}
              
              </tr>
            </table>
          </div>
          <a class="tag tag--pill tag--sub settings__btn tag--md add_img add_social" href="{% url 'create-site' %}">
            <img src="{% static 'images/icons/icons8-plus.svg' %}" alt="add" />
            <label>
              &nbsp;Add Site
            </label>
          </a>
        </div>
        
        {% if profile.profile_type == 'affiliate' %}
        <div class="column column--2of3">
          <div class="devInfo">
            <h3 class="devInfo__title">About {{profile.organization_name}}</h3>
            <p class="devInfo__about">{{profile.bio}}
            </p>
          </div>
        {% elif profile.profile_type == 'alum' %}  
        
        <div class="column column--2of3">
          <div class="devInfo">
            <h3 class="devInfo__title">About Me</h3>
            <p class="devInfo__about">{{profile.bio}}</p>
          </div>
          <div class="settings">
            <h3 class="settings__title">Skills</h3>
            <a class="tag tag--pill tag--sub settings__btn tag--md add_img" href="{% url 'create-skill' %}">
              <img src="{% static 'images/icons/icons8-plus.svg' %}" alt="add" />&nbsp;Add Skill
            </a>
          </div>
          
          <table class="settings__table">
            
            {% for skill in skills %}
            
              <tr>
                <td class="settings__tableInfo">
                  <h4>{{skill.name}}</h4>
                  <p>
                    {{skill.description}}
                  </p>
                </td>
                <td class="settings__tableActions">
                  <a class="tag tag--pill tag--main settings__btn" href="{% url 'update-skill' pk=skill.id %}">
                    <img src="{% static 'images/icons/icons8-edit.svg' %}" alt="edit" />&nbsp;Edit
                  </a>
                  <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-skill' pk=skill.id %}?next=/account">
                    <img src="{% static 'images/icons/icons8-cancel.svg' %}" alt="delete" />&nbsp;Delete
                  </a>
                </td>
              </tr>
            
            {% endfor %}
          
          </table>
          
          <div class="settings">
            <h3 class="settings__title">Projects</h3>
            <a class="tag tag--pill tag--sub settings__btn tag--lg add_img" href="{% url 'create-project' %}">
              <img src="{% static 'images/icons/icons8-plus.svg' %}" alt="add" />&nbsp;Add Project
            </a>
          </div>
          
          <table class="settings__table">
            {% for project in projects %}
            
              <tr>
                <td class="settings__thumbnail">
                  <a href="{% url 'project' project.owner project.slug %}">
                    <img src="{{project.imageURL}}" alt="Project Thumbnail" />
                  </a>
                </td>
                <td class="settings__tableInfo settings__project">
                  <a href="{% url 'project' project.owner project.slug %}">{{project.title}}</a>
                  <p>{{project.description|slice:"150"}}</p>
                </td>
                <td class="settings__tableActions">
                  <a class="tag tag--pill tag--main settings__btn" href="{% url 'update-project' project.owner project.slug %}">
                    <img src="{% static 'images/icons/icons8-edit.svg' %}" alt="edit" />&nbsp;Edit
                  </a>
                  <a class="tag tag--pill tag--main settings__btn"
                    href="{% url 'delete-project' project.owner project.slug %}?next=/account">
                    <img src="{% static 'images/icons/icons8-cancel.svg' %}" alt="delete" />&nbsp;Delete
                  </a>
                </td>
              </tr>
            
            {% endfor %}
          
          </table>
        </div>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock %}