<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'images/icons/favicon.ico' %}" type="image/x-icon" />
        
        <!-- Mumble UI -->
        <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
        
        <!-- Dev Search UI -->
        <link id="style-light" rel="stylesheet" href="{% static 'styles/header.css' %}" />
        <link id="style-light" rel="stylesheet" href="{% static 'styles/hero.css' %}" />
        <link id="style-light" rel="stylesheet" href="{% static 'styles/developers.css' %}" />
        <link id="style-light" rel="stylesheet" href="{% static 'styles/pagination.css' %}" />
        <link id="style-light" rel="stylesheet" href="{% static 'styles/profiles.css' %}" />
        <link id="style-light" rel="stylesheet" href="{% static 'styles/comments.css' %}" />
        <link id="style-light" rel="stylesheet" href="{% static 'styles/account.css' %}" />
        <link id="style-light" rel="stylesheet" href="{% static 'styles/login.css' %}" />
        <link id="style-light" rel="stylesheet" href="{% static 'styles/messages.css' %}" />
        <link id="style-light" rel="stylesheet" href="{% static 'styles/forms.css' %}" />
        <link id="style-light" rel="stylesheet" href="{% static 'styles/about.css' %}" />
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
        
        {% block head_style %}{% endblock head_style %}
        
        <title>{% block head_title %}{% endblock head_title %}</title>
        
        {% include 'navbar.html' %}
    </head>
    
    <body class="light">
        
        {% if messages %}
        
            {% for message in messages %}
                <div class="alert  alert--{{message.tags}}">
                    <p class="alert__message">
                        {{message}}
                    </p>
                    <button class="alert__close del-msg">&times;</button>
                </div>
            {% endfor %}
            
        {% endif %}
        
        
        {% block content %}
        
        {% endblock content %}
    </body>
    

    <script>
        $(document).ready(function() {
            // messages timeout for 10 sec 
            setTimeout(function() {
                $('.alert').fadeOut('slow');
            }, 10000); // <-- time in milliseconds, 1000 =  1 sec

            // delete message
            $('.del-msg').live('click',function(){
                $('.del-msg').parent().attr('style', 'display:none;');
            })
        });
    </script>

    <script src="{% static 'uikit/app.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</html>