{% load static %}
<!-- Header Section -->
<header class="header">
    <div class="container container--narrow">
        {% comment %} <a href="{% url 'profiles' %}" class="header__logo">
        <img src="{% static 'images/icons/jtc-long-logo.jpeg' %} " alt="JTCAlumn Logo" />
        </a> {% endcomment %}
        {% if request.user.id != None %}
            <span class="header__user">
                {% if request.user.profile.imageURL %}
                    <img class="avatar avatar--sm header__avatar" src="{{ request.user.profile.imageURL }}"></img>
                {% endif %}
                <h5>{{ request.user.username }}</h5>
            </span>
        {% endif %}
        <nav class="header__nav">
            <input type="checkbox" id="responsive-menu" />
            
            <label for="responsive-menu" class="toggle-menu">
                <span>Menu</span>
                <div class="toggle-menu__lines"></div>
            </label>
            
            <ul class="header__menu">
                <li class="header__menuItem"><a href="{% url 'about' %}">About Us</a></li>
                <li class="header__menuItem"><a href="{% url 'profiles' %}">Developers</a></li>
                <li class="header__menuItem"><a href="{% url 'projects' %}">Projects</a></li>
                <li class="header__menuItem"><a href="{% url 'affiliates' %}">Affiliates</a></li>
                <li class="header__menuItem"><a href="{% url 'opportunity-board' %}">Opportunities</a></li>
                
                {% if request.user.is_authenticated %}
                    {% if unreadCount == None %}
                        <li class="header__menuItem">
                            <a href="{% url 'inbox' request.user.profile.slug %}">Inbox</a>
                        </li>
                    {% elif unreadCount != None %}
                        <li class="header__menuItem">
                            <a href="{% url 'inbox' request.user.profile.slug %}">Inbox&nbsp;<span class="header__mailCount">({{ unreadCount }})</span></a>
                        </li>
                    {% endif %}
                    <li class="header__menuItem"><a href="{% url 'account' %}">Account</a></li>
                    <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--sub">Logout</a></li>
                {% else %}
                    <li class="header__menuItem__btn"><a href="{% url 'login' %}" class="btn btn--sub">Login/Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>

{% comment %} **************************** from https://dev.to/mritunjaysaha/theme-switching-using-local-storage-13i {% endcomment %}
        <div class="toggle-switch">
            <span>    
                <i class="fas fa-moon"></i>           
                <label class="switch">
                <input id="theme-switch" type="checkbox"> 
                <div class="slider round"></div>
                </label>
                <i class="fas fa-sun"></i>
            </span>
        </div>

        
        <script src="{% static 'js/theme.js' %}"></script>
</header>


