{% load static %}
<!-- Header Section -->
<header class="header">
    <div class="container container--narrow">
        <a href="{% url 'profiles' %}" class="header__logo">
        <img src="{% static 'images/jtc-long-logo.jpeg' %} " alt="JTCAlumn Logo" />
        </a>
        <nav class="header__nav">
            <input type="checkbox" id="responsive-menu" />
            
            <label for="responsive-menu" class="toggle-menu">
                <span>Menu</span>
                <div class="toggle-menu__lines"></div>
            </label>
            
            <ul class="header__menu">
                <li class="header__menuItem"><a href="{% url 'profiles' %}">Developers</a></li>
                <li class="header__menuItem"><a href="{% url 'projects' %}">Projects</a></li>
                <li class="header__menuItem"><a href="{% url 'affiliates' %}">Affiliates</a></li>
                <li class="header__menuItem"><a href="{% url 'opportunity-board' %}">Opportunities</a></li>
                
                {% if request.user.is_authenticated %}
                    <li class="header__menuItem"><a href="{% url 'inbox' request.user.profile.slug %}">Inbox</a></li>
                    <li class="header__menuItem"><a href="{% url 'account' %}">Account</a></li>
                    <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--sub">Logout</a></li>
                {% else %}
                    <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--sub">Login/Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
        {% comment %} <a href="{{ request.GET.next }}" class="header">
            <div id="theme-options-wrapper">
                <div data-mode="light" id="light-mode" class="theme-dot"></div>
                <div data-mode="dark" id="dark-mode" class="theme-dot"></div>
            </div>
        </a> {% endcomment %}



        {% comment %} {% if request.user.id != None %}
            <span class="header__user">
                <h5>{{ request.user }}</h5>
            </span>
        {% endif %} {% endcomment %}



{% comment %} **************************** from https://dev.to/mritunjaysaha/theme-switching-using-local-storage-13i {% endcomment %}
        <div class="toggle-switch">
            <span>    
                <i class="fas fa-moon"></i>           
                <label class="switch">
                    <input id="theme-switch" type="checkbox"> 
                    <div class="slider round"></div>
                </label>
                <i class="fas fa-sun"></i>
            </span>
        </div>
        <script src="{% static 'js/theme.js' %}"></script>
</header>


