p {
    font-size: 1.3em;
}

.container__about {
    display: flex;
    justify-content: flex-start;
    max-height: 30px;
    max-width: fit-content;
    margin: 5em auto;
    font-size: 1.3em;
}

.container__about > a {
    margin-top: 1.75rem;
}

.ital {
    font-style: italic;
}

.section__about {
    width: 100%;
    margin: -0.5em auto;
    margin-bottom: 2em;
}

.ack_links {
    margin-top: 0em;
    font-size: 48px;
    text-align: center;
}

.ack_links img {
    width: 32px !important;
}

.donation {
    margin: -1.75em auto;
    font-size: 1.3em;
}