p {
    font-size: 1.3em;
}

.container__about {
    display: flex;
    justify-content: flex-start;
    max-height: 30px;
    max-width: fit-content;
    margin: 5em auto;
    font-size: 1.3em;
}

.container__about img {
    height: 40px;
    width: 40px;
    margin: 0 0.5em;
    padding: 0;
}

.container__about > a {
    margin-top: 1.75rem;
}

.ital {
    font-style: italic;
}