/*=======================
    Account Settings
========================*/

.settingsPage .dev > .settings__btn {
    display: inline-block;
    margin-bottom: 3rem;
    color: var(--columbia-dark-blue);
}

.settingsPage .settings__btn__site {
    display: inline-block;
    margin: 5rem auto;
    color: var(--college-blue);
}

.settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings__title {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--college-blue);
}

.settings__table {
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding: 0 3rem;
    background: var(--color-white);
}

.settings__table tr {
    width: 100%;
}

.settings__table tr > td {
    padding: 2rem 0;
}

.settings__table tr:not(:last-child) td {
    border-bottom: 2px solid var(--color-white-light);
}

.settings__thumbnail {
    width: 23%;
    min-width: 10rem;
}

.settings__thumbnail img {
    padding-right: 3rem;
    height: 15rem;
    object-fit: contain;
}

.settings__tableInfo{
    width: 100%;
}

.settings__tableInfo h4,
.settings__tableInfo a {
    padding-right: 1rem;
    width: auto;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-sub);
}

.settings__tableInfo p {
    font-size: 1.4rem;
}

.settings__tableActions {
    text-align: right;
}


/*=======================
    Account Icons
========================*/


.settings a .plus {
    height: 20%;
}




/*=======================
    Account Connections
========================*/


.acct__header1 {
    display: flex;
    margin: 0 auto;
}

.acct__header2 {
    
}

.socialaccount_providers {
    
}

.acct__providers {
    
}

.acct__field_errors {
    
}

.acct__paragraph {
    
}